img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 2px #eee;
      -moz-box-shadow: 5px 5px 2px #eee;
      -webkit-box-shadow: 5px 5px 2px #eee;
      -khtml-box-shadow: 5px 5px 2px #eee;
}