.detail-box {
    border-radius: 5px;
    background-color: #f3f3f3;
    box-shadow: 5px 5px 2px #ccc;
      -moz-box-shadow: 5px 5px 2px #ccc;
      -webkit-box-shadow: 5px 5px 2px #ccc;
      -khtml-box-shadow: 5px 5px 2px #ccc;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 2px #ccc;
      -moz-box-shadow: 5px 5px 2px #ccc;
      -webkit-box-shadow: 5px 5px 2px #ccc;
      -khtml-box-shadow: 5px 5px 2px #ccc;
}