.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    padding-top: 1em;
}

.padded {
    padding: 1em;
}

.shadow-box {
    border-radius: 5px;
    box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc;
}