.photo {
    cursor: pointer;
    object-fit: cover;
    width: 80%;
    height: 250px;
    transition: transform .2s;
    box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc;
}

.photo:hover {
    transform: scale(1.05);
}

.padded {
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
}